<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ToDos View - MySite</title>
</head>
<body>

<h1>ToDos - View</h1>

<p><em>ToDo: {{ view.current }}</em></p>
</body>
</html>
