{% extends "base.jinja2" %}
{% block title %}ToDos Not Found {% endblock %}
{% block content %}

    <h1>Missing ToDo Item</h1>
    <p>The todo at <em>{{ request.matchdict.get('id') }}</em> could not
        be found.</p>

{% endblock %}
