{% extends "base.jinja2" %}
{% block title %}ToDos List{% endblock %}
{% block content %}

  {% if msg %}
      <div class="alert alert-info">
        {{ msg }}
      </div>
  {% endif %}
    <a class="btn btn-primary pull-right"
       href="{{ request.route_url('todos_add') }}">Add</a>
    <h1>ToDos - List</h1>

    <table class="table table-striped">

      {% for todo in todos %}
          <tr>
              <td>
                  <a href="{{ request.route_url('todos_view', id=todo.id) }}">
                    {{ todo.title }}
                  </a>
              </td>
              <td>
                  <a href="{{ request.route_url('todos_edit', id=todo.id) }}">
                      edit
                  </a>
                  <a href="{{ request.route_url('todos_delete', id=todo.id) }}">
                      delete
                  </a>
              </td>
          </tr>
      {% endfor %}

    </table>
{% endblock %}
